#######################################
# Modified from https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore
# Project name: MATLAB.gitignore_v1.0
# Author name: Yujie He
# Created time: 20200125
# Last edited time: 20200125
#######################################

## Folder
Others/

## frequent use
# Windows 默认自动保存文件
# Windows default autosave extension
*.asv

# OSX / *nix 默认自动保存文件
# OSX / *nix default autosave extension
*.m~

# 编译二进制文件，如需保存，可以注释
# Compiled MEX binaries (all platforms)
*.mex*


## maybe use
# Simulink 代码生成文件
# Simulink code generation folders
slprj/
sccprj/

# Simulink 默认自动保存文件
# Simulink autosave extension
*.autosave

# Simulink 缓存文件
# Simulink cache files
*.slxc


## seldom use
# 工具箱文件
# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# 帮助文档
# Generated helpsearch folders
helpsearch*/

# Matlab 代码生成文件
# Matlab code generation folders
codegen/

# Octave相关文件
# Octave session info
octave-workspace
